<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        cacheTokens="false"
        verbose="false"
        colors="true"
        bootstrap="./test/unit/init.php">
    <testsuites>
        <testsuite name="DmFilemanTest">
            <directory>./test/unit/DmFilemanTest</directory>
        </testsuite>
    </testsuites>
</phpunit>